/* CSS Document */
*{	
	margin:0;
	padding:0;
}
body{
	background:url(bg3.png) no-repeat 0 bottom;
	background-size:100%;
	 
}
header{
	margin:0 auto;
	width:100%;
	text-align:center;
	background:url(headbg.jpg) no-repeat;
	background-size:100% auto;
}
header h1{
	font:30px/60px "Microsoft Sans Serif";
	font-weight:bold;
}
header #newgamebutton{
	display:block;
	width:110px;
	margin:0 auto;
	font:16px/30px "Microsoft Sans Serif";
	text-decoration:none;
	border:1px solid #000;
	border-radius:5px;
	color:#fff;
	background-color:#FFCC66;
}
header p{
	font:20px/40px "Microsoft Sans Serif";
}
div.music{position:fixed; top:3vh; right:4vw; border:5px solid #ef1639; width:15vw; height:15vw; border-radius:50%; background:#fff; z-index:5;}
div.music > img:first-child{position:absolute; top: 0; right: 0; bottom: 0; left: 0; width: 79%; margin: auto;}
div.music > img:last-child{position:absolute; top: 24%; right: 2.5%; width: 28.421%;}
div.music > img.music_play{
	-webkit-animation: music_disc 4s linear infinite;
		 -o-animation: music_disc 4s linear infinite;
			animation: music_disc 4s linear infinite;
}
@-webkit-keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.people{
	position:fixed;
	top:10vh;
	left:3vh;
	text-align:center;
}
.people img{
	width:15vw;
	height:20vw;
}
.people p{
	position:absolute;
	top:4.5vw;
	left:6.5vw;
	font-size:5vw;
	font-weight:bold;
}
#grid-container{
	margin:30 auto;
	width:500px;
	height:500px;
	border:1px solid #000;
	border-radius:5px;
	background-color:#333;
	position:relative;
	opacity:0.8;
}
.grid-cell{
	position:absolute;
	width:100px;
	height:100px;
	background-color:#ccc;
	border-radius:5px;
}
.number-cell{
	position:absolute;
	border-radius:5px;
	text-align:center;
	font:"Microsoft Sans Serif";
	background-size:100%;
}